//Index - con Grid de CSS 
.mainProducts{
    h1{
        text-align: center;
        font-size: $text-xl;
        padding: 25px 0px;
    }
}
.contact_us{
    text-align: center;
}
.products_categories {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    article{
        width: 100%;
        object-fit: cover;
        padding: 5%;
        h2{
            text-align: center;
            font-size: $text-lg;
            padding: 6px;
            &:hover{
                cursor: pointer;
                color: $main-color;
                font-size: $text-xl;
                transition: 0.5s ease;
            } 
        }
        a{
            img{
                width: 60%;
                display: flex;
                margin: auto;
                &:hover{
                    cursor: pointer;
                    filter: grayscale(100%);
                    transition: 0.5s ease;
                }
            }
        }
    }
}
.page404{
    display: flex;
    height: 78vh;
    background-image: url(../img/golf_window_404.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    align-content: center;
        h1{
            color: $white;
            }
    }
.volver-home{
    color: $white;
    font-size: $text-xl;
    &:hover{
        cursor: pointer;
        font-weight: $text-bold;
        transition: 0.1s ease;
        color: $main-color;
        }
    }

