//Paginas con marcas
.brands{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.golf_brands{
    padding-top: 10px;
    margin: auto;

    .logo-brand {
        object-fit: scale-down;
        height: 95%;
    }         
}
.brandcard{
    padding-top: 10px;
    }
.card{
    width: 40vh;
    height: auto;
}
.brandsh2{
    font-size: $text-xl;     
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
      
    